.chat-component {
  & > .messages-div {
    display: flex;
    flex-direction: column;
    & > .message-div {
      width: 100vw;
      & > .message {
        margin: 10px;
        padding: 10px;
        max-width: 70%;
        height: fit-content;
        padding: 10px;
        // background-color: rgb(145, 252, 145);
        border-radius: 15px;
        & > .content {
          white-space: normal;
          font-size: 17px;
        }
        &.sent {
          float: right;
          background-color: red;
        }
        &.received {
          float: left;
          background-color: blue;
        }
      }
    }
  }
}
