.client-list-start {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 7rem;
  // align-items: center;
  flex-wrap: wrap;
  overflow: scroll;

  & h1 {
    margin-bottom: 5rem;
    margin-left: 5rem;
    font-weight: lighter;
    // text-transform: uppercase;
  }

  .img-container {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 100vw;
    flex-wrap: wrap;
  }

  .img-mini {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-left: 3rem;
    // margin-bottom: 2rem;
    // width: 20vw;
    // height: 30vh;
    background-color: pink;
    flex-wrap: wrap;
    overflow: scroll;
  }

  .img-description {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 30vh;
    font-size: 1.3rem;
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    // visibility: hidden;
    // opacity: 0;
    // transition: opacity 2s, visibility 1s;
    word-wrap: break-word;
    overflow: scroll;

    .trainee-details {
      & .first {
        font-size: 1.3rem;
        font-weight: bold;
      }
    }
    .view-calender {
      font-size: 1.1rem;
    }
    .fa-fa :hover {
      color: #ffc719;
    }
  }

  .img-container:hover .img-description {
    visibility: visible;
    opacity: 1;
  }

  .client-div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 30vw;
    height: 30vh;
    background-color: pink;

    &:hover {
      opacity: 0.8;
      transform: scale(1.1);
      transition: transform 2s;
    }
  }
}
