.create-workout-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 7rem;
  // width: 100vw;
  // height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  & > .search-div {
    & > .tags {
      .tag {
        margin: 5px;
        font-size: 1.5em;
        border: solid 2px;
        border-radius: 10%;
        &:hover {
          font-size: 1.6em;
          cursor: pointer;
        }
      }
    }
  }

  & > .exercises-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    & > .exercise-block {
      border: solid 5px;
      min-width: 300px;
      min-height: 300px;
      max-height: 500px;
      max-height: 500px;
      text-align: center;
      width: 25%;
      height: 25%;
      margin: 1%;
      padding: 1%;
      & > .exercise-image {
        width: 70%;
        height: 70%;
      }
    }
  }
}
