.details-div {
  height: 100vh;
  display: flex;

  .left-div {
    background-color: #5995fd;
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    & #couple {
      position: absolute;
      bottom: 0;
      width: 20rem;
      height: 25rem;
    }

    & h1 {
      color: red;
      text-transform: uppercase;
    }
  }
  .right-div {
    background-color: white;
    width: 70vw;
    height: 100vh;
    // height: 100vh;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;

    .details-form {
      height: 90vh;
      width: 80vw;
      // background-color: #5995fd;
    }

    & input {
      max-width: 280px;
      width: 100%;
      background-color: #f0f0f0;
      margin: 10px 0;
      height: 55px;
      border-radius: 15px;
      outline: none;
      display: flex;
      flex-wrap: wrap;
      padding: 0 1.5rem;
      position: relative;
    }

    #gender-div {
      display: flex;
      justify-content: space-between;
      width: 15vw;

      & input {
        width: 1.7rem;
      }

      & #other-input {
        width: fit-content;
      }
    }
    & .inputbox {
      position: relative;
      width: 300px;
      height: 50px;
      margin-bottom: 50px;
      & input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border: 2px solid #000;
        outline: none;
        background: none;
        padding: 10px;
        border-radius: 10px;
        font-size: 1.2em;
      }
      &:last-child {
        margin-bottom: 0;
      }
      & span {
        position: absolute;
        top: 14px;
        left: 20px;
        font-size: 1em;
        transition: 0.6s;
      }
      & input:focus ~ span,
      & input:valid ~ span {
        transform: translateX(-13px) translateY(-35px);
        font-size: 1em;
      }
      & [type="button"] {
        width: 50%;
        background: #5995fd;
        color: #fff;
        border: #fff;
      }
      &:hover [type="button"] {
        background: linear-gradient(45deg, greenyellow, dodgerblue);
      }
    }

    & form a {
      position: relative;
      display: inline-block;
      padding: 10px 20px;
      color: #ffc719;
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      transition: 0.5s;
      margin-top: 40px;
      letter-spacing: 4px;
    }

    & a:hover {
      background: #ffc719;
      color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 5px #ffc719, 0 0 25px #ffc719, 0 0 50px #ffc719,
        0 0 100px #ffc719;
    }

    & a span {
      position: absolute;
      display: block;
    }

    & a span:nth-child(1) {
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #ffc719);
      animation: btn-anim1 1s linear infinite;
    }

    @keyframes btn-anim1 {
      0% {
        left: -100%;
      }
      50%,
      100% {
        left: 100%;
      }
    }

    & a span:nth-child(2) {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent, #ffc719);
      animation: btn-anim2 1s linear infinite;
      animation-delay: 0.25s;
    }

    @keyframes btn-anim2 {
      0% {
        top: -100%;
      }
      50%,
      100% {
        top: 100%;
      }
    }

    & a span:nth-child(3) {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent, #ffc719);
      animation: btn-anim3 1s linear infinite;
      animation-delay: 0.5s;
    }

    @keyframes btn-anim3 {
      0% {
        right: -100%;
      }
      50%,
      100% {
        right: 100%;
      }
    }

    & a span:nth-child(4) {
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, #ffc719);
      animation: btn-anim4 1s linear infinite;
      animation-delay: 0.75s;
    }

    @keyframes btn-anim4 {
      0% {
        bottom: -100%;
      }
      50%,
      100% {
        bottom: 100%;
      }
    }
  }
}
