.workout-list-start {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 7rem;
  align-items: center;
  // flex-wrap: wrap;
  overflow: scroll;

  // & h1 {
  //   margin-bottom: 3rem;
  //   font-weight: lighter;
  //   font-size: 2.8em;
  // }
  .ticket-list {
    display: flex;
    flex-wrap: wrap;

    & .workout-ticket {
      display: flex;
      position: relative;
      align-items: center;
      flex-direction: column;
      width: fit-content;
      height: 23rem;
      overflow: scroll;
      padding: 0.5rem 2rem;
      border-radius: 0.4rem;
      margin: 1rem;
      // background-color: #3580d4;
      background-color: #1456a1;

      .ticket-content,
      .ticket-title {
        width: 20rem;
        word-wrap: break-word;
      }

      .ticket-title {
        padding: 1rem 0 0 0;
        font-size: 1.7rem;
      }

      .ticket-content {
        .exercise-block {
          .exercise-name {
            font-size: 1.2rem;
            font-weight: lighter;
          }
          .exercise-details {
            font-size: 1.1rem;
            font-weight: lighter;
          }
        }
      }

      .ticket-header .remove-workout {
        border: none;
        opacity: 0;
      }
      &:hover .ticket-header .remove-workout {
        opacity: 1;
      }
      .ticket-header .editable-btn {
        border: none;
        opacity: 0;
      }
      &:hover .ticket-header .editable-btn {
        opacity: 1;
      }

      &:hover .ticket-header span {
        opacity: 1;
        float: right;
        margin-top: 1rem;
      }

      .ticket-header span {
        white-space: nowrap;
        border-radius: 0.2rem;
        padding: 0.2rem;
        font-weight: 700;
        font-size: 1.2rem;
        margin-right: 0.2rem;
        margin-bottom: 0.2rem;
        opacity: 0;
      }
    }
  }
}
