.role {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1rem;
  margin-top: 1rem;
}

.chosen {
  margin: 0rem 1rem;
  background-color: #ffc719;
}

.show-password {
  color: black;
  text-transform: none;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border-radius: 40px;
}

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
  -webkit-transition: 1.8s ease-in-out;
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  -webkit-transition: 1s 0.7s ease-in-out;
  transition: 1s 0.7s ease-in-out;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0rem 5rem;
  -webkit-transition: all 0.2s 0.7s;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 85%;
      grid-template-columns: 15% 85%;
  padding: 0 1.5rem;
  position: relative;
}

.input-field .fa-fa {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
  font-family: "Futura PT W02 Book", Futura, "Trebuchet MS", Arial, sans-serif;
}

.input-field input::-webkit-input-placeholder {
  color: #aaa;
  font-weight: 500;
}

.input-field input:-ms-input-placeholder {
  color: #aaa;
  font-weight: 500;
}

.input-field input::-ms-input-placeholder {
  color: #aaa;
  font-weight: 500;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social-icon:hover {
  border: 1px solid #ffc719;
}

.btn {
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 10px 0;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  background-color: #333;
}

.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.image {
  width: 100%;
  -webkit-transition: -webkit-transform 1.1s ease-in-out;
  transition: -webkit-transform 1.1s ease-in-out;
  transition: transform 1.1s ease-in-out;
  transition: transform 1.1s ease-in-out, -webkit-transform 1.1s ease-in-out;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.panel .content {
  color: #fff;
  -webkit-transition: -webkit-transform 0.9s ease-in-out;
  transition: -webkit-transform 0.9s ease-in-out;
  transition: transform 0.9s ease-in-out;
  transition: transform 0.9s ease-in-out, -webkit-transform 0.9s ease-in-out;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 2rem;
}

.panel p {
  font-size: 1.5rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  background: none;
  border: 2px solid #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 600;
  font-size: 1rem;
}

.btn.transparent:hover {
  border: 2px solid #ffc719;
}

.right-panel .image,
.right-panel .content {
  -webkit-transform: translateX(800px);
          transform: translateX(800px);
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

/* ANIMATION */
.container.sign-up-mode:before {
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  -webkit-transform: translateX(-800px);
          transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
    -webkit-transition: 1s 0.8s ease-in-out;
    transition: 1s 0.8s ease-in-out;
  }
  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }
  .panels-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 2fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
  }
  .right-panel {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .left-panel {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .image {
    width: 200px;
    -webkit-transition: -webkit-transform 0.9s ease-in-out;
    transition: -webkit-transform 0.9s ease-in-out;
    transition: transform 0.9s ease-in-out;
    transition: transform 0.9s ease-in-out, -webkit-transform 0.9s ease-in-out;
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  .panel {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.5rem 8%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .panel.content {
    padding-right: 15%;
    -webkit-transition: -webkit-transform 0.9s ease-in-out;
    transition: -webkit-transform 0.9s ease-in-out;
    transition: transform 0.9s ease-in-out;
    transition: transform 0.9s ease-in-out, -webkit-transform 0.9s ease-in-out;
    -webkit-transition-delay: 0.8s;
            transition-delay: 0.8s;
  }
  .panel h3 {
    font-size: 1.2rem;
  }
  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }
  .btn.transparent {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 0.7rem;
  }
  .container:before {
    width: 1500px;
    height: 1500px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
  }
  .container.sign-up-mode:before {
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }
  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .right-panel .image,
  .right-panel .content {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
  .container.sign-up-mode .signin-signup {
    top: 5%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }
  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container {
    padding: 1.5rem;
  }
  .container:before {
    bottom: 72%;
    left: 50%;
  }
  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}

.create-workout-page {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.create-workout-page > .search-div > .tags .tag {
  margin: 5px;
  font-size: 1.5em;
  border: solid 2px;
  border-radius: 10%;
}

.create-workout-page > .search-div > .tags .tag:hover {
  font-size: 1.6em;
  cursor: pointer;
}

.create-workout-page > .exercises-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.create-workout-page > .exercises-list > .exercise-block {
  border: solid 5px;
  min-width: 300px;
  min-height: 300px;
  max-height: 500px;
  max-height: 500px;
  text-align: center;
  width: 25%;
  height: 25%;
  margin: 1%;
  padding: 1%;
}

.create-workout-page > .exercises-list > .exercise-block > .exercise-image {
  width: 70%;
  height: 70%;
}

.create-workouts-start {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 7rem;
}

.create-workouts-start > .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.create-workouts-start > .content > div {
  width: 40%;
}

.create-workouts-start > .content > div.workouts-list > h1:hover {
  cursor: pointer;
  font-size: 2.2em;
}

.create-workouts-start > .content > div.shown-workout > ol > li {
  margin: 20px;
}

.client-list-start {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 7rem;
}

.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.pop-up > .pop-up-inner {
  position: relative;
  width: 100%;
  max-width: 700px;
  background-color: white;
}

.pop-up > .pop-up-inner > table > tbody > tr > td {
  width: 13%;
}

.pop-up > .pop-up-inner > table > tbody > tr > td.order {
  width: 5%;
}

.pop-up > .pop-up-inner > table > tbody > tr > td > input {
  width: 70%;
}

.pop-up > .pop-up-inner > .close-button {
  position: absolute;
  right: 10px;
  top: 10px;
}

.coach-dashboard {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 7rem;
}

.trainee-dashboard {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 7rem;
}

.trainee-dashboard .edit-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.coaches-list {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 7rem;
}

.details-div {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.details-div .left-div {
  background-color: #5995fd;
  width: 30vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details-div .left-div #couple {
  position: absolute;
  bottom: 0;
  width: 20rem;
  height: 25rem;
}

.details-div .left-div h1 {
  margin: 2.5rem 0;
  color: white;
  text-transform: uppercase;
}

.details-div .left-div .details-welcome p {
  text-align: center;
  line-height: 3rem;
  color: white;
  font-size: 30px;
  word-wrap: break-word;
}

.details-div .right-div {
  background-color: white;
  width: 70vw;
  height: 100vh;
}

.details-div .right-div .details-form {
  height: 100vh;
  width: 80vw;
}

.details-div .right-div input {
  max-width: 280px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 15px;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 1.5rem;
  position: relative;
}

.details-div .right-div #gender-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15vw;
}

.details-div .right-div #gender-div input {
  width: 1.5rem;
}

.details-div .right-div .num1 {
  margin: 1.8rem 0;
}

.details-div .right-div .inputbox {
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 50px;
}

.details-div .right-div .inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 30px;
  border-radius: 10px;
  font-size: 1.2em;
}

.details-div .right-div .inputbox #other-input {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 2rem;
}

.details-div .right-div .inputbox:last-child {
  margin-bottom: 0;
}

.details-div .right-div .inputbox span {
  position: absolute;
  top: 14px;
  left: 40px;
  font-size: 1em;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.details-div .right-div .inputbox input:focus ~ span,
.details-div .right-div .inputbox input:valid ~ span {
  -webkit-transform: translateX(-13px) translateY(-35px);
          transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}

.details-div .right-div .inputbox [type="button"] {
  width: 50%;
  background: #5995fd;
  color: #fff;
  border: #fff;
}

.details-div .right-div .inputbox:hover [type="button"] {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}

.details-div .right-div form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffc719;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.details-div .right-div button:hover {
  background: #ffc719;
  color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #ffc719, 0 0 25px #ffc719, 0 0 50px #ffc719, 0 0 100px #ffc719;
          box-shadow: 0 0 5px #ffc719, 0 0 25px #ffc719, 0 0 50px #ffc719, 0 0 100px #ffc719;
}

.details-div .right-div button span {
  position: absolute;
  display: block;
}

.details-div .right-div button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#ffc719));
  background: linear-gradient(90deg, transparent, #ffc719);
  -webkit-animation: btn-anim1 1s linear infinite;
          animation: btn-anim1 1s linear infinite;
}

@-webkit-keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.details-div .right-div button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#ffc719));
  background: linear-gradient(180deg, transparent, #ffc719);
  -webkit-animation: btn-anim2 1s linear infinite;
          animation: btn-anim2 1s linear infinite;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

@-webkit-keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.details-div .right-div button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#ffc719));
  background: linear-gradient(270deg, transparent, #ffc719);
  -webkit-animation: btn-anim3 1s linear infinite;
          animation: btn-anim3 1s linear infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.details-div .right-div button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#ffc719));
  background: linear-gradient(360deg, transparent, #ffc719);
  -webkit-animation: btn-anim4 1s linear infinite;
          animation: btn-anim4 1s linear infinite;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

@-webkit-keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.add-exercise-start {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 7rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Futura PT W02 Book", Futura, "Trebuchet MS", Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.3);
}

button {
  opacity: 1;
  -webkit-transition: color 0.3s linear, border-color 0.3s linear;
  transition: color 0.3s linear, border-color 0.3s linear;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(255, 255, 255, 0.7);
  outline: 0;
  background: 0 0;
  text-decoration: none;
  padding: 2.2vmin 3.75vmin;
  margin: 0 3px;
  font-size: 2.2vmin;
  letter-spacing: 0.14667vmin;
  line-height: 1;
  cursor: pointer;
}

button:hover {
  color: #ffc719;
  border: 2px solid #ffc719;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 0.1025em;
  font-size: 1.3em;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: color;
  transition-property: color;
  border-bottom: 4px solid transparent;
}

a:hover {
  color: #ffc719;
}

.alert-message {
  width: 80px;
  height: 80px;
  position: fixed;
  top: 0%;
  left: 0;
  text-align: center;
  border: black 3px solid;
  background-color: cadetblue;
}
/*# sourceMappingURL=App.css.map */