@import "./SignUp";
@import "./CreateWorkout";
@import "./WorkoutsList";
@import "./ClientsList";
@import "./Popup";
@import "./CoachDashboard";
@import "./TraineeDashboard";
@import "./CoachesList";
@import "./Details";
@import "./AddExercise";
@import "./WeeklyCalendar";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Futura PT W02 Book", Futura, "Trebuchet MS", Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.3);
  // overflow: hidden;
  // height: 100vh;
  // text-transform: uppercase;
}

button {
  opacity: 1;
  transition: color 0.3s linear, border-color 0.3s linear;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(255, 255, 255, 0.7);
  outline: 0;
  background: 0 0;
  text-decoration: none;
  padding: 2.2vmin 3.75vmin;
  margin: 0 3px;
  font-size: 2.2vmin;
  letter-spacing: 0.14667vmin;
  line-height: 1;
  cursor: pointer;

  &:hover {
    color: #ffc719;
    border: 2px solid #ffc719;
  }
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  // font-weight: 100;
  box-sizing: border-box;
  letter-spacing: 0.1025em;
  font-size: 1.3em;
  transition-timing-function: linear;
  transition-duration: 0.5s;
  transition-property: color;
  border-bottom: 4px solid transparent;
}

a:hover {
  color: #ffc719;
}

.alert-message {
  width: 80px;
  height: 80px;
  position: fixed;
  top: 0%;
  left: 0;
  text-align: center;
  border: black 3px solid;
  background-color: cadetblue;
}

