.calorie-tracker {
  padding-top: 90px;
}

.calorie-meter {
  width: 50%;
  max-width: 640px;
  height: 55px;
}

.calorie-meter:-moz-meter-optimum::-moz-meter-bar {
  background: indianred;
}
.calorie-meter:-moz-meter-sub-optimum::-moz-meter-bar {
  background: #ffff66;
}
.calorie-meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
  background: #99ff99;
}

.meal-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.meal {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: black solid 3px;
  width: 300px;
}

.chosen-meal {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: red solid 3px;
  width: 300px;
}
.add-food-button {
  margin-bottom: 0 px;
}

.pop-up-selected-food {
  border: black solid 3px;
}
