.calorie-tracker {
  padding-top: 5.5rem;
  color: white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.calorie-tracker .meter-and-calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 40%;
  height: 90vh;
  float: right;
  margin-right: 1rem;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.calorie-tracker .meter-and-calendar .meter-and-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 80%;
}

.calorie-tracker .meter-and-calendar .meter-and-title .calorie-meter {
  width: 90%;
  margin-bottom: 0.5rem;
  height: 3rem;
}

.calorie-tracker .meter-and-calendar .meter-and-title .meter-numbers {
  padding-top: 10px;
}

.calorie-tracker .meter-and-calendar .meter-and-title .red {
  color: crimson;
}

.calorie-tracker .meter-and-calendar .meter-and-title .green {
  color: seagreen;
}

.calorie-tracker .meals-container {
  border-radius: 0.4rem;
  width: 55%;
  height: 89vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 3rem;
  background-color: #1456a1;
}

.calorie-tracker .meals-container .add-to-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.calorie-tracker .meals-container .add-to-container .add-food-button {
  border: none;
  padding: 0;
  margin: 0rem 0.5rem;
}

.calorie-tracker .meals-container .meal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fefbff;
  color: black;
  height: 10rem;
  overflow: scroll;
}

.calorie-tracker .meals-container .meal-container .eaten-food-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 1rem 0.5rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.calorie-tracker
  .meals-container
  .meal-container
  .eaten-food-container
  .delete-eaten-food-button {
  border: none;
  padding: 0;
  margin: 0;
}

.calorie-tracker .chosen-meal {
  border: red solid 3px;
}

.calorie-tracker .popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.calorie-tracker .popup-add-food {
  position: relative;
  padding: 32px;
  width: 100%;
  height: 50%;
  margin-top: 200px;
  max-width: 640px;
  max-height: 400px;
  background-color: white;
  color: black;
  overflow-y: auto;
  border-radius: 15px;
}

.calorie-tracker .popup-add-food .popup-close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  color: black;
  border: none;
}

.calorie-tracker .popup-add-food .search-food-input {
  width: 23rem;
  height: 40px;
  font-size: 1.5rem;
}

.calorie-tracker .popup-add-food .search-food-input:focus {
  outline-color: #1456a1;
}

.calorie-tracker .popup-add-food .searched-food-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.calorie-tracker .popup-add-food .searched-food-list .searched-food-single {
  border-bottom: solid 1px #ddd;
  padding: 8px;
}

.calorie-tracker .popup-add-food .searched-food-list:hover {
  cursor: pointer;
}

.calorie-tracker .popup-add-food .pop-up-selected-food {
  border: black solid 3px;
  border-radius: 6px;
}
/*# sourceMappingURL=CaloriesTracker.css.map */
