.calorie-tracker {
  padding-top: 90px;
}

.meter-and-calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.meter-and-calendar .meter-and-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 70%;
}

.meter-and-calendar .meter-and-title .calorie-meter {
  width: 50%;
  max-width: 640px;
  min-width: 400px;
  height: 45px;
}

.meter-and-calendar .meter-and-title .meter-numbers {
  padding-top: 10px;
}

.meter-and-calendar .meter-and-title .red {
  color: crimson;
}

.meter-and-calendar .meter-and-title .green {
  color: seagreen;
}

.meal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.meal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border: #ddd solid 3px;
  border-radius: 5px;
  width: 300px;
}

.meal .eaten-food-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chosen-meal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border: red solid 3px;
  width: 300px;
}

.add-food-button {
  margin-bottom: 0 px;
}

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup-add-food {
  position: relative;
  padding: 32px;
  width: 100%;
  height: 50%;
  margin-top: 200px;
  max-width: 640px;
  max-height: 400px;
  background-color: white;
  color: black;
  overflow-y: auto;
  border-radius: 15px;
}

.popup-add-food .popup-close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  color: black;
}

.popup-add-food .search-food-input {
  width: 40%;
  max-width: 550px;
  height: 40px;
  font-size: 1.5rem;
}

.popup-add-food .searched-food-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup-add-food .searched-food-list .searched-food-single {
  border-bottom: solid 1px #ddd;
  padding: 8px;
}

.popup-add-food .searched-food-list:hover {
  cursor: pointer;
}

.popup-add-food .add-food-button {
  color: black;
}

.popup-add-food .pop-up-selected-food {
  border: black solid 3px;
  border-radius: 6px;
}
/*# sourceMappingURL=CaloriesTracker.css.map */