.loading-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.headline {
  font-size: 1.5rem;
  color: black;
}
#gif {
  margin-top: 2rem;
  align-self: center;
  height: 25vh;
  width: 25vh;
}
