#logo {
  padding-left: 25px;
  width: 12rem;
  height: 4rem;
}

.link:hover {
  color: #ffc719;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: border;
  transition-property: border;
  border-bottom: 4px solid #ffc719;
}

.homeNav {
  z-index: 1;
  height: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.1);
}

.logo-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-options-main {
  position: absolute;
  right: 12rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  grid-gap: 40px;
  list-style-type: none;
}

.mobile-option {
  display: none;
}

.signIn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 10px;
  padding: 0px 5px;
  list-style-type: none;
}

.sign-in {
  padding-right: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sign-in:hover {
  color: #3b3be2;
}

.signIn-btn {
  padding: 10px 10px;
  border-radius: 3px;
  background: #2a9d8f;
  color: white;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-menu {
  display: none;
}

@media (max-width: 1125px) {
  .header {
    height: 60px;
  }
  .nav-options-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }
  .nav-options-main.active {
    background: #9899d1;
    left: 0;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-left: 0px;
  }
  .menu-icon {
    width: 45px;
    height: 45px;
    color: white;
  }
  .option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 10vw;
    padding: 30px 0px;
  }
  .link:hover {
    color: #ffc719;
    border-bottom: none;
  }
  .sign-in {
    border-radius: 3px;
    color: white;
    background: #0d7e65;
    padding: 10px 30px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 3px;
  }
  .signIn {
    display: none;
  }
}

.mobile-menu {
  display: block;
  position: absolute;
  right: 0;
  margin-right: 20px;
}
/*# sourceMappingURL=NavBar.css.map */