.table {
  height: 85vh;
  width: 100%;
  border-collapse: collapse;
}

.table td {
  border: 3px #0099ff solid;
}

.table-one-container {
  width: auto;
  height: 100%;
}

.day-title {
  font-size: 2.3rem;
}

.container-title {
  font-size: 1.5rem;
  margin-top: 0;
}

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  text-align: center;
  justify-content: center;
}

.popup-workout {
  position: relative;
  padding: 32px;
  width: 100%;
  height: 50%;
  margin-top: 200px;
  max-width: 640px;
  max-height: 400px;
  background-color: white;
  color: black;
  overflow-y: auto;
}

.popup-workout .popup-close-button {
  position: absolute;
  top: 16px;
  right: 16px;
}
