.table {
  height: 85vh;
  width: 100%;
  border-collapse: collapse;
}

.table td {
  border: 3px #0099ff solid;
}

.table-one-container {
  width: auto;
  height: 100%;
}

.day-title {
  font-size: 2.3rem;
}

.container-title {
  font-size: 1.5rem;
  margin-top: 0;
}
