.table {
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 80%;
  border-collapse: collapse;
}

.table td {
  border: 2px #d1d3d8 solid;
  background-color: rgb(231, 228, 223);
  width: 5rem;
  height: 5.5rem;
  color: rgb(77, 75, 75);
  word-wrap: break-all;
}

.table-one-container {
  width: auto;
  height: 100%;
  word-wrap: break-all;
}

.day-title {
  font-size: 2rem;
  background-color: rgb(135, 187, 222);
  color: black;
}

.container-title {
  font-size: 1.1rem;
  margin-top: 0;
}

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  text-align: center;
  justify-content: center;
}

.popup-workout {
  position: relative;
  padding: 32px;
  width: 100%;
  height: 50%;
  margin-top: 200px;
  max-width: 640px;
  max-height: 400px;
  background-color: white;
  color: black;
  overflow-y: auto;
  border-radius: 15px;
}

.popup-workout .popup-close-button {
  position: absolute;
  border: none;
  top: 16px;
  right: 16px;
}

.popup-workout .popup-close-button:hover {
  color: black;
}
